body {
    background: #f9f9f9;
    font-family: sans-serif;
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    opacity: 0.8;
}

header {
    background-color: #e0f2f1;
    padding: 10px 0;
    text-align: center;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav a {
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.nav a:hover {
    color: green;
}

main {
    padding: 20px;
}

section.about {
    padding: 20px;
    background-color: #f4ffe5;
    border-radius: 15px;
    margin-bottom: 30px;
}

section.promotions {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f4ffe5;
}

.product-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-cards article {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
}

.product-cards img {
    width: 100%;
    border-radius: 10px;
}

section.reviews {
    background-color: #eee;
    padding: 20px;
    border-radius: 15px;
}

.review {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.review img {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}

.address p {
    text-align: center;
}

h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: red;
    font-size: 25px;
}

section.about img,
.review img {
    float: right;
    margin-left: 20px;
    border: 2px solid #5D4037;
    padding: 5px;
    background-color: #F5F5DC;
}

.address h2 {
    color: black;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer .socials img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
